# Packages
*.egg
*.egg-info
dist
build
eggs
sdist
develop-eggs
.installed.cfg
__pycache__
*.pyc

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov/


# Translations
*.mo

.tox
